*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: #E6E6E6;
}

header{
    display: flex;
    justify-content: center;
} header button{
    margin: 0 1rem 0 1rem;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
} main h1{
    font-size: 10em;
    color: #323239;
    cursor:default;
} main button{
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;
    border-radius: 1000rem;
    padding: 1rem;
    border: 0;
    background-color: #e0e0e5;
	box-shadow: 7px 7px 14px #b3b3b7, -7px -7px 14px #fff;
    transition: background-color 0.25s;
} main button:hover{
    background-color: hsl(240, 9%, 82.5%) !important;
    cursor: pointer;
}

#start, #stop{
    width: 70px;
    height: 70px;
}