*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
}

header{
    display: flex;
    justify-content: center;
} header button{
    margin: 0 1rem 0 1rem;
}

main {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
} main h1{
    font-size: 10em;
} main button{
    font-size: 2em;
}